.header-rek,
.head__hours,
.print-kp,
.print-item-head,
.print-item-desc,
.print-item-char,
.print-item-services {
  display: block;
}

.head__desc,
.head__adres,
.head__map,
.head__search-panel,
.wrapper.navigation,
.wrapper.img-header,
.wr-breadcrumbs,
.item__description-old,
.item__header-old,
.left-desc,
.wrapper.footer,
.btn-print,
.items-related {
  display: none;
}

.logo img {
  width: 170px;
  padding-bottom: 80px;
}

.item-old .item__slider-pager,
.item-old #itemtabs {
  display: none;
}

.item-old .item__slider-container {
  height: 360px;
}

.item-left-side {
  float: right;
}

.item-right-side {
  padding-left: 15px;
  padding-right: 60px;
}

.item-right-side .btn-default,
.item-right-side .buy-list,
.item-right-side .item-socials {
  display: none;
}

.item-right-side .add-desc {
  padding-top: 10px;
}

.item-right-side .add-desc a {
  display: none;
}

.print-kp {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 30px;
}

.print-item-head {
  font-weight: bold;
}

.print-item-head h1 {
  margin-bottom: 0;
}

.print-item-head p {
  font-size: 23px;
  font-weight: normal;
  color: #333;
}

.print-item-head p span {
  font-size: 18px;
  color: #838383;
  display: inline-block;
}

.item__price {
  margin-top: 0;
  color: #000;
}

.print-item-char h3 {
  margin-bottom: 30px;
}

.print-item-services {
  background: #f2f2f2;
  margin-top: 15px;
  padding: 30px 0;
}

.print-item-services .sp2 {
  padding: 0 0 0 15px;
}

.print-item-services a {
  background: none;
  font-size: 13px;
  padding-left: 0;
  line-height: 15px;
  height: 40px;
}

.print-item-services a span {
  padding-left: 5px;
}

.print-item-services a img {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 7px;
}

.to-top {
  visibility: hidden;
  background: transparent;
}

.print-item-services {
  background: none;
}

.print-item-services header {
  position: relative;
}

.print-item-services .main-service__title {
  background: none;
  padding-left: 0;
  height: 40px;
}

.print-item-services .main-service__title span {
  font-size: 13px;
  line-height: 15px;
}

.print-item-services .main-service__title img {
  display: block;
}

/*# sourceMappingURL=print.css.map */