// sources
@import 'src/_var.scss';
@import 'src/_bootstrap.scss';
@import 'src/_jquery.fancybox.scss';
@import 'src/_slick.scss';
@import 'src/_scrolltotop.scss';
@import 'src/_jquery-ui.scss';
@import 'src/_forms.scss';
// modules
@import 'modules/_titles.scss';
@import 'modules/_buttons.scss';
@import 'modules/_breadcrumbs.scss';
//vendor
@import 'vendor/_minishop2.scss';
@import 'vendor/_msearch2.scss';
@import 'vendor/_magnificpopup.scss';

/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
a:active,a:focus,img{outline:0;}
img{max-width:100%;height: auto;}
textarea{max-width: 100%;}
input{max-width: 100%;}
.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter {
	clear: both;
	display: block; 
	margin-left: auto;
	margin-right: auto;
}
.centered{
	width: 100%;
	text-align: center;
}
.container{
	max-width: 1130px;
	min-width: 980px;
}
.wrapper{
	width: 100%;
	min-width: 980px;
	margin: 0 auto;
}
.wr-blue{
	background: $light-blue;
}
.helper{
	display:inline-block;
	vertical-align:middle;
	height:100%;
	width:0px;
}
// grid5
.sp2{
	display: block;
	width: 20%;
	float: left;
	padding: 0 15px;
	&.sp2-offset-right-2{
		margin-right: 20%;
	}
}
// inputs
.checkbox-style{
	label{
		display: block;
		font-family: Arial;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		padding-left: 27px;
		white-space: nowrap;
	}
	input[type="checkbox"] {
		display:none;
	}
	input[type="checkbox"] + label {
		background:url(../img/check_sheet.png) left -32px no-repeat;
		cursor:pointer;
	}
	input[type="checkbox"]:checked + label {
		background:url(../img/check_sheet.png) left top no-repeat;
	}
}