.header-rek,
.head__hours,
.print-kp,
.print-item-head,
.print-item-desc,
.print-item-char,
.print-item-services{
	display: block;
}
.head__desc,
.head__adres,
.head__map,
.head__search-panel,
.wrapper.navigation,
.wrapper.img-header,
.wr-breadcrumbs,
.item__description-old,
.item__header-old,
.left-desc,
.wrapper.footer,
.btn-print,
.items-related{
	display: none;
}
.logo{
	img{
		width: 170px;
		padding-bottom: 80px;
	}
}
.item-old{
	.item__slider-pager,
	#itemtabs{
		display: none;
	}
	.item__slider-container{
		height: 360px;
	}
}
.item-left-side{
	float: right;
}
.item-right-side{
	padding-left: 15px;
	padding-right: 60px;
	.btn-default,
	.buy-list,
	.item-socials{
		display: none;
	}
	.add-desc{
		padding-top: 10px;
		a{
			display: none;
		}
	}
}
.print-kp{
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 30px;
}
.print-item-head{
	font-weight: bold;
	h1{
		margin-bottom: 0;
	}
	p{
		font-size: 23px;
		font-weight: normal;
		color: #333;
		span{
			font-size: 18px;
			color: #838383;
			display: inline-block;
		}
	}
}
.item__price{
	margin-top: 0;
	color: #000;
}
.print-item-char{
	h3{
		margin-bottom: 30px;
	}
}
.print-item-services{
	background: #f2f2f2;
	margin-top: 15px;
	padding: 30px 0;
	.sp2{
		padding: 0 0 0 15px;
	}
	a{
		background: none;
		font-size: 13px;
		padding-left: 0;
		line-height: 15px;
		height: 40px;
		span{
			padding-left: 5px;
		}
		img{
			width: 40px;
			height: 40px;
			display: block;
			margin-right: 7px;
		}
	}
}
.to-top{
	visibility: hidden;
	background: transparent;
}
.print-item-services{
	background: none;
	header{
		position: relative;
	}
	.main-service__title{
		background: none;
		padding-left: 0;
		height: 40px;
		span{
			font-size: 13px;
			line-height: 15px;
		}
		img{
			display: block;
		}
	}
}