@import 'src/_var.scss';
/*---------- head ----------*/
.head{
	margin-top: 25px;
}
.head__contacts{
	padding-left: 0;
}
.head__search{
	margin-top: 8px;
}
.head__cart{
	padding: 7px 30px;
}

/*---------- logo ----------*/
.logo{
	font-size: 14px;
	@media screen and (max-width: 1199px) {
		font-size: 12px;
	}
}
.logo__img{
	padding-right: 5px;
}

/*---------- contacts phones ----------*/
.contacts-phones{
	text-align: right;
	margin-right: -15px;
	p{
		font-size: 15px;
		margin: 0 0 5px;
		line-height: 14px;
	}
	span{
		font-weight: bold;
		color: $blue;
	}
}

/*---------- adres ----------*/
.adres{
	padding-left: 15px;
	p{
		line-height: 10px;
		font-size: 15px;
	}
}

/*---------- search ----------*/
.search-form{
	padding-right: 85px;
}
.search-form__input{
	border: 1px solid #d4d4d4;
	border-right: 0;
	height: 50px;
	padding: 0 115px 0 15px;
	width: 100%;
	font-size: 16px;
	&::-webkit-input-placeholder {
		font-style: italic;
		color: #676767;
		font-size: 16px;
	}
	&:-moz-placeholder { /* Firefox 18- */
		font-style: italic;
		color: #676767;
		font-size: 16px;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		font-style: italic;
		color: #676767;
		font-size: 16px;
	}
	&:-ms-input-placeholder {  
		font-style: italic;
		color: #676767;
		font-size: 16px;
	}
	&:focus,&:active{
		outline: none;
		border-color: $blue;
	}
}

/*---------- search results ----------*/
.search-results-container{
	position: relative;
}
.search-results{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: white;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
	padding: 0 40px;
	z-index: 1;
}
.search-results__item{
	border-bottom: 1px solid #eee;
	img{
		margin-bottom: 1px;
	}
	h2{
		a{
			color: #202020;
			font-size: 16px;
			line-height: 20px;
			&:hover{
				color: $blue;
			}
		}
	}
	.btn{
		margin-top: 45px;
		@media screen and (max-width: 1199px) {
			margin-top: 35px;
		}
	}
}
.search-results__cost{
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	color: $orange;
}

/*---------- cart small ----------*/
.cart-small{
	display: block;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
	min-height: 50px;
	background: url(../img/sprite-icons.png) 0 0 no-repeat;
	padding: 10px 10px 10px 60px;
	&:hover{
		text-decoration: none;
	}
	p{
		padding: 0;
		margin: 0;
		line-height: 16px;
		font-style: italic;
		color: #333;
		@media screen and (max-width: 1199px) {
			font-size: 12px;
		}
	}
	span{
		font-style: normal;
		font-weight: bold;
		color: $orange;
		font-size: 15px;
	}
}

/*---------- navigation ----------*/
.navigation{
	background: $light-blue;
	margin-top: 15px;
}
.menu-catalog{
	position: relative;
	>ul{
		list-style: none;
		padding: 0;
		margin: 0;
		>li{
			display: block;
			float: left;
			position: relative;
			&.lc{
				float: right;
				a{
					padding-right: 0;
				}
			}
			>a{
				line-height: 50px;
				display: block;
				padding-right: 40px;
				color: $dark-blue;
				text-decoration: none;
				font-size: 15px;
				transition: color .3s;
				@media screen and (max-width: 1199px) {
					font-size: 13px;
					padding-right: 35px;
				}
			}
			&:hover{
				>a{
					color: $blue;
				}
			}
			&.has-submenu{
				>a{
					background: url(../img/sprite-icons.png) 100% -50px no-repeat;
				}
			}
		}
	}
}

/*---------- sub menu ----------*/
.sub-menu{
	position: absolute;
	display: none;
	background-color: #e7f5fc;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
	z-index: 1;
	list-style: none;
	padding: 10px 20px;
	margin: 0;
	width: 250px;
	a{
		display: inline-block;
		font-size: 17px;
		line-height: 17px;
		padding: 7px 0;
		color: $dark-blue;
		&:hover{
			color: $blue;
			text-decoration: none;
		}
	}
}

/*---------- navigation catalog ----------*/
.sub-menu-catalog{
	position: absolute;
	display: none;
	background: $light-blue;
	z-index: 999;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
	width: 100%;
	top: 50px;
}
.sub-menu-catalog__left{
	padding-right: 0;
	ul{
		background: $light-blue;
		padding: 15px 0 35px 0;
		list-style: none;
		margin: 0;
		>li{
			vertical-align: middle;
			display: table;
			height: 60px;
			vertical-align: middle;
			padding-left: 85px;
			width: 100%;
			position: relative;
			&.sub-menu-catalog__i1{
				background: url(../img/sprite-menu-category.png) 35px 0 no-repeat;
			}
			&.sub-menu-catalog__i2{
				background: url(../img/sprite-menu-category.png) 35px -60px no-repeat;
			}
			&.sub-menu-catalog__i3{
				background: url(../img/sprite-menu-category.png) 35px -120px no-repeat;
			}
			&.sub-menu-catalog__i4{
				background: url(../img/sprite-menu-category.png) 35px -180px no-repeat;
			}
			&.sub-menu-catalog__i5{
				background: url(../img/sprite-menu-category.png) 35px -240px no-repeat;
			}
			&.sub-menu-catalog__i6{
				background: url(../img/sprite-menu-category.png) 35px -300px no-repeat;
			}
			&:after{
				content: '';
				position: absolute;
				opacity: 0;
				right: -20px;
				top: 0;
				border-right: 20px solid #fff;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				transition: right .3s;
			}
			&:hover,&.active{
				a{
					text-decoration: none;
					color: $blue;
				}
				&:after{
					opacity: 1;
					right: -2px;
				}
			}
			>a{
				display: table-cell;
				color: #20466c;
				font-family: Arial;
				font-size: 16px;
				font-weight: 700;
				line-height: 23px;
				padding-right: 35px;
				vertical-align: middle;
				margin-top: 7px;
				margin-bottom: 7px;
				@media screen and (max-width: 1199px) {
					font-size: 14px;
				}
			}
		}
	}
}
.sub-sub-menu-catalog{
	display: none;
	>.row{
		background: #fff;
		margin-right: 0;
	}
	ul{
		list-style: none;
		padding: 35px;
		margin: 0;
		li{
			a{
				display: block;
				color: #20466c;
				font-size: 16px;
				font-weight: 400;
				line-height: 34px;
				position: relative;
				span{
					position: absolute;
					left: 100%;
					color: #919598;
				}
			}
			&:hover{
				a{
					color: $blue;
					text-decoration: none;
					span{
						color: $blue;
					}
				}
			}
		}
	}
	.sub-sub-menu-catalog__brands{
		padding: 35px 60px 13px 15px;
		header{
			color: #20466c;
			font-size: 18px;
			font-weight: 700;
			line-height: 34px;
		}
		a{
			display: block;
			margin: 0 auto;
			margin: 20px 0;
		}
	}
}

/*---------- navigation items ----------*/
.menu-items{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		height: 50px;
		overflow: hidden;
		li{
			display: block;
			float: left;
			text-align: center;
			a{
				display: inline-block;
				color: #000;
				font-weight: bold;
				line-height: 50px;
				font-size: 15px;
				text-decoration: none;
				padding-right: 15px;
				transition: color .3s;
				span{
					color: #9b9b9b;
					font-style: italic;
					font-weight: normal;
					font-size: 12px;
				}
			}
			&:hover{
				a{
					color: $blue;
				}
			}
		}
	}
}

/*---------- slider ----------*/
.slider-big{
	padding: 0 15px;
}
.slider{
	background: url(../img/bg-main-slider.jpg) 50% 0 no-repeat;
	.slick-prev,.slick-next{
		position: absolute;
		border: none;
		height: 33px;
		width: 20px;
		top: 50%;
		left: 0;
		outline: none;
		padding: 0;
		margin: -16px 0 0 0;
		background-color: transparent;
		background-image: url(../img/slider-arrows.png);
		background-repeat: no-repeat;
		text-indent: -9999px;
		opacity: .3;
		transition: opacity .3s;
		&:hover,&:focus,&:active{
			outline: none;
		}
		&:hover{
			opacity: 1;
		}
	}
	.slick-next{
		background-position: -20px 0;
		left: auto;
		right: 0;
	}
	.slick-dots{
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		top: -30px;
		text-align: center;
		li{
			display: inline-block;
			position: relative;
			button{
				font-size: 0;
				line-height: 0;
				display: block;
				width: 15px;
				height: 15px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
				&:before{
					position: absolute;
					content: '';
					border-radius: 50%;
					width: 10px;
					height: 10px;
					background: #333;
					border: 2px solid #333;
					outline: none;
					line-height: 20px;
					top: 0;
					left: 0;
					text-align: center;
				}
			}
			&.slick-active{
				button{
					&:before{
						background: #fff;
					}
				}
			}
		}
	}
}
.slider__slide{
	height: 470px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	padding: 30px;
}
.slider__header{
	color: white;
	font-size: 40px;
	font-weight: 700;
	line-height: 47px;
	margin: 0 0 20px;
}
.slider__description{
	color: white;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	margin-bottom: 30px;
}

/*---------- slider cost ----------*/
.slider-cost{
	background-color: white;
	border: 2px solid #0096e6;
	border-radius: 11px;
	box-shadow: -2.1px 2.1px 2px rgba(0, 0, 0, 0.7), inset 2px 0 0 rgba(0, 0, 0, 0.44);
	float: left;
	padding: 15px;
	transform: skew(-16deg);
	margin-top: 10px;
}
.slider-cost__top{
	width: 116px;
	color: $blue;
	font-weight: 700;
	font-size: 23px;
	line-height: 23px;
	padding: 0;
	margin: 0;
	span{
		font-size: 34px;
	}
}
.slider-cost__bottom{
	font-size: 16px;
	color: #494949;
	font-style: italic;
	font-size: 16px;
	padding: 0;
	margin: 0;
	span{
		color: $orange;
		font-weight: 700;
		font-style: italic;
	}
}

/*---------- main services ----------*/
.main-service{
	display: table;
	height: 210px;
}
.main-service__title{
	display: table;
	color: #434343;
	font-size: 26px;
	font-weight: 700;
	line-height: 21px;
	padding-left: 93px;
	line-height: 30px;
	height: 63px;
	background-image: url(../img/sprite-services.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	span{
		vertical-align: middle;
		display: table-cell;
	}
	&:hover{
		text-decoration: none;
		color: $blue;
	}
}
.main-service__desc{
	margin-bottom: 45px;
}
.main-service__t1{
	background-position: 0 0;
	&:hover{
		background-position: 0 -441px;
	}
}
.main-service__t2{
	background-position: 0 -63px;
	&:hover{
		background-position: 0 -504px;
	}
}
.main-service__t3{
	background-position: 0 -126px;
	&:hover{
		background-position: 0 -567px;
	}
}
.main-service__t4{
	background-position: 0 -189px;
	&:hover{
		background-position: 0 -630px;
	}
}
.main-service__t5{
	background-position: 0 -252px;
	&:hover{
		background-position: 0 -693px;
	}
}
.main-service__t6{
	background-position: 0 -315px;
	&:hover{
		background-position: 0 -756px;
	}
}
.main-service__t7{
	background-position: 0 -378px;
	&:hover{
		background-position: 0 -819px;
	}
}

/*---------- distributors ----------*/
.distributors{
	padding-top: 40px;
	padding-bottom: 60px;
}
.distributors__distrib{
	margin-bottom: 30px;
	img{
		display: block;
		margin: 0 auto;
	}
}
.distributors__title{
	color: #20466c;
	font-size: 20px;
	line-height: 21px;
}
.distributors__item{
	color: #20466c;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 45px;
	padding-bottom: 65px;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			line-height: 17px;
			padding: 10px 0 10px 35px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				width: 25px;
				height: 2px;
				background: #20466c;
				left: 0;
				top: 50%;
			}
		}
	}
}

/*---------- last items ----------*/
.last-items{
	padding-top: 40px;
	padding-bottom: 100px;
}
.last-items__button{
	margin-top: 25px;
}

/*---------- item ----------*/
.item{
	margin-bottom: 30px;
}
.item__addto{
	display: block;
	position: relative;
	color: #444;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	padding-left: 20px;
	margin-bottom: 10px;
	&:before,&:after{
		content: '';
		position: absolute;
		background: #a6a6a6;
	}
	&:before{
		width: 12px;
		height: 2px;
		top: 8px;
		left: 0px;
	}
	&:after{
		width: 2px;
		height: 12px;
		top: 3px;
		left: 5px;
	}
	&.delete{
		&:after{
			display: none;
		}
		&:before{
			background: #da2626;
		}
	}
	span{
		border-bottom: 1px dotted #444;
	}
	&:hover{
		text-decoration: none;
		color: $blue;
		span{
			border-color: $blue;
		}
	}
}
.item__image{
	display: block;
	position: relative;
	margin-bottom: 20px;
}
.item__new,
.item__sale,
.item__hit{
	position: absolute;
	left: -1px;
	bottom: -10px;
	padding: 0 5px 0 10px;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: -20px;
		border-left: 20px solid #fff;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
	}
	&.item__new{
		background: #64cd1b;
		&:after{
			border-left: 20px solid #64cd1b;
		}
	}
	&.item__sale{
		background: #f00;
		&:after{
			border-left: 20px solid #f00;
		}
	}
	&.item__hit{
		background: #ff218a;
		&:after{
			border-left: 20px solid #ff218a;
		}
	}
}
.item__date{
	color: #7c7c7c;
	font-size: 15px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.item__title{
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	padding: 0;
	margin: 0 0 13px;
	a{
		color: #424242;
		&:hover{
			text-decoration: none;
			color: $blue;
		}
	}
}
.item__cost{
	color: $orange;
	font-size: 16px;
	font-weight: 700;
	line-height: 15px;
}
.item__description{
	color: #7c7c7c;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 0;
}
.item__characters{
	color: #7c7c7c;
	font-size: 13px;
	line-height: 20px;
}

/*---------- system integration ----------*/
.system-integtation{}
.system-integtation__row{
	padding: 0 60px 60px;
}
.system-integtation__item{
	img{
		display: block;
		margin: 0 auto;
		border-radius: 50%;
		filter: grayscale(80%);
		-webkit-filter: grayscale(80%); /* For Webkit browsers */
		filter: gray; /* For IE 6 - 9 */
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		transition: all 1s;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			text-align: center;
			color: #20466c;
			font-size: 16px;
			line-height: 30px;
		}
	}
	&:hover{
		text-decoration: none;
		.system-integtation__header{
			color: $blue;
			text-decoration: underline;
		}
		img{
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		}
	}
}
.system-integtation__header{
	color: #434343;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	padding: 15px 0;
	transition: all .3s;
}

/*---------- advantages ----------*/
.advantages{
	padding-top: 35px;
	padding-bottom: 30px;
	p{
		color: #434343;
		font-size: 15px;
		line-height: 20px;
		margin-top: 15px;
		margin-bottom: 50px;
	}
}
.advantages__title{
	color: #434343;
	font-size: 21px;
	font-weight: 700;
}

/*---------- main journal ----------*/
.main-journal{
	padding-top: 50px;
	padding-bottom: 100px;
}
.main-journal__row{
	margin-bottom: 55px;
}

/*---------- main journal item ----------*/
.main-journal-item{
	display: block;
	position: relative;
	height: 282px;
	border: 1px solid #fff;
	padding: 0 20px;
	background-position: 50% 50%;
	background-size: auto 100%;
	&.main-journal-item-big{
		height: 564px;
	}
	&:hover{
		text-decoration: none;
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 154, 226, 0.3);
		}
	}
}
.main-journal-item__title{
	position: relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: white;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}
.main-journal-item__link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main-journal-item__characters{
	position: relative;
	float: left;
}
.main-journal-item__video{
	display: block;
	float: left;
	background: url(../img/sprite-icons.png) -12px -116px no-repeat;
	width: 26px;
	height: 17px;
	position: relative;
	margin-right: 15px;
	&:after{
		content: '';
		position: absolute;
		height: 21px;
		width: 1px;
		background: #c3c3c3;
		right: -15px;
		top: -2px;
	}
}
.main-journal-item__watch{
	display: block;
	position: relative;
	float: left;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	line-height: 17px;
	font-size: 17px;
	padding-left: 45px;
	background: url(../img/sprite-icons.png) 0 -166px no-repeat;
	margin-right: 15px;
	&:after{
		content: '';
		position: absolute;
		height: 21px;
		width: 1px;
		background: #c3c3c3;
		right: -15px;
		top: -2px;
	}
}
.dollars{
	display: block;
	float: left;
	background: url(../img/dollars.png) 0 0 no-repeat;
	height: 17px;
	width: 52px;
	margin-left: 15px;
}
.journal-item-slider-container{
	margin-bottom: 10px;
	img{
		width: 100%;
	}
}
.journal-item-slider-pager,
.journal-item-slider-pager2{
	padding: 0 30px;
	position: relative;
	.bx-viewport{
		position: relative;
		z-index: 2;
	}
	.bx-controls{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.bx-prev,
	.bx-next{
		position: absolute;
		top: 50%;
		margin: 0;
		margin-top: -12px;
		padding: 0;
		outline: none;
		width: 25px;
		height: 25px;
		border-top: 2px solid $light-gray;
		border-left: 2px solid $light-gray;
		&:hover{
			border-color: $blue;
		}
	}
	.bx-prev{
		left: 0px;
		transform: rotate(-45deg);
	}
	.bx-next{
		right: 0px;
		transform: rotate(135deg);
	}
}
.journal-item-slider-pager2{
	margin-bottom: 30px;
}

/*---------- footer slider title ----------*/
.footer-slider-title{
	color: #20466c;
	font-size: 26px;
	line-height: 20px;
	text-align: center;
	padding: 40px 0;
}

/*---------- footer slider wrapper ----------*/
.footer-slider-wrapper{
	padding-bottom: 40px;
}

/*---------- footer slider container ----------*/
.footer-slider-container{
	padding: 0 40px 40px;
}

/*---------- footer slider ----------*/
.footer-slider{
	.slick-prev,.slick-next{
		position: absolute;
		top: 50%;
		padding: 0;
		outline: none;
		margin: -30px 0 0 0;
		border: none;
		outline: none;
		text-indent: -9999px;
		width: 29px;
		height: 55px;
		background-image: url(../img/slider-footer-arrows.png);
		background-repeat: no-repeat;
		background-color: transparent;
	}
	.slick-prev{
		left: -40px;
	}
	.slick-next{
		right: -40px;
		background-position: -29px 0;
	}
	.slide{
		padding: 0 10px;
	}
}

/*---------- footer menu ----------*/
.foo-menu{
	background: #d4e9f4;
	padding: 30px 0;
}
.foo-menu__menu{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		a{
			color: #20466c;
			font-size: 15px;
			line-height: 25px;
		}
	}
}
.foo-menu__header{
	color: #20466c;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	margin-bottom: 15px;
}
.foo-menu__service{
	overflow: hidden;
	height: 23px;
	padding: 0;
	margin-top: 40px;
	li{
		display: block;
		float: left;
		padding-right: 20px;
	}
	span{
		color: #20466c;
		font-size: 16px;
		font-weight: 700;
		line-height: 23px;
	}
	a{
		display: block;
		line-height: 23px;
	}
}

/*---------- footer copyright ----------*/
.foo-copyright{
	padding: 15px;
}
.foo-copyright__copy{
	color: black;
	font-size: 15px;
	line-height: 20px;
	span{
		color: #20466c;
	}
}

/*---------- footer social ----------*/
.foo-social{
	display: block;
	float: right;
	width: 42px;
	height: 42px;
	border: 1px solid #08354d;
	margin-left: 10px;
	background-image: url(../img/sprite-social.png);
	background-repeat: no-repeat;
	margin-top: 70px;
	&:hover{
		background-color: $blue;
		border-color: $blue;
	}
	&.sk{
		background-position: 0 0;
		&:hover{
			background-position: 0 -168px;
		}
	}
	&.tw{
		background-position: 0 -42px;
		&:hover{
			background-position: 0 -210px;
		}
	}
	&.fb{
		background-position: 0 -84px;
		&:hover{
			background-position: 0 -252px;
		}
	}
	&.in{
		background-position: 0 -126px;
		&:hover{
			background-position: 0 -294px;
		}
	}
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*---------- cart page ----------*/
.img-header{
	height: 50px;
	background: url(../img/image-separator.jpg) center 0 no-repeat;
	margin-bottom: 10px;
}
.cart-item{
	font-size: 16px;
	border-top: 1px solid #d7d7d7;
	padding: 10px 0;
	&:first-child{
		border-top: 0;
	}
	input{
		width: 50px;
		height: 30px;
		float: left;
		margin: 0 10px;
		border: 1px solid #d7d7d7;
		outline: none;
		padding: 4px;
		font-weight: bold;
		text-align: center;
	}
}
.cart-item__cost{
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
	color: #e96406;
	line-height: 30px;
}
.cart-item__column{
	padding-top: 10px;
}
#deliveries{
	.radio-btns{
		margin-bottom: 15px;
	}
	.radio-btns.radio-maps{
		margin-bottom: 35px;
		position: relative;
		a{
			position: absolute;
			bottom: -15px;
			left: 0;
			padding-left: 25px;
		}
	}
}
.delivery-message{
	font-size: 19px;
	strong{
		color: $orange;
	}
}
.gray-container{
	background: #F4F4F4;
	margin: 30px auto 60px;
	padding: 30px;
}
.cart-form{
	input{
		line-height: 42px;
		height: 42px;
		padding: 0 10px;
		font-size: 18px;
	}
	textarea{
		line-height: 42px;
		min-height: 42px;
		padding: 0 10px;
		font-size: 18px;
	}
	input,textarea{
		outline: none;
		border: 1px solid #c3c3c3;
		width: 100%;
	}
	label{
		font-size: 18px;
		padding-top: 15px;
		font-weight: normal;
		span{
			font-size: 14px;
			color: #636363;
		}
	}
	header{
		font-size: 26px;
		color: #404040;
		font-family: arial;
		font-weight: bold;
		margin: 25px 0 0 0;
	}
	.result{
		p{
			margin: 15px 0 25px;
			font-size: 16px;
			font-family: arial;
			font-weight: bold;
			line-height: 27px;
			span{
				font-size: 26px;
			}
		}
	}
}
.cart-form.cart-form-2{
	header{
		font-size: 20px;
		@media screen and (max-width: 1199px) {
			font-size: 16px;
		}
	}
}
.beznal-desc{
	margin-top: 30px;
	font-size: 16px;
	a{
		color: #000;
		text-decoration: underline;
	}
}
.tip-block .tip{
	font-size: 15px;
	color: #fff;
	line-height: 20px;
	font-family: arial;
	display: block;
	position: absolute;
	width: 240px;
	padding: 20px 20px;
	border-radius: 5px;
	top: 25px;
	height: 80px;
	right: -260px;
	display: none;
	z-index: 1;
	&:after{
		content: '';
		border-right: 15px solid #000;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		position: absolute;
		left: -15px;
		top: 50%;
		margin-top: -10px;
	}
}
.tip-block .tip.small-tip {
	height: 60px;
	top: 35px;
}
.tip.tip-blue{
	background: $blue;
	&:after{
		border-right: 15px solid $blue;
	}
}
.tip.tip-red{
	background: #fc3f3f;
	&:after{
		border-right: 15px solid #fc3f3f;
	}
}
.beznal-desc2{
	padding-left: 30px;
}

/*---------- journal catalog page ----------*/
.j-item{
	min-height: 500px;
	@media screen and (max-width: 1199px) {
		min-height: 550px;
	}
	a{
		display: block;
		text-decoration: none;
	}
}
.j-item__img-container{
	height: 240px;
	overflow: hidden;
	border-bottom: 50px solid;
	@media screen and (max-width: 1199px) {
		height: 210px;
	}
}
.j-item__wrap{
	border: 4px solid #fff;
	position: relative;
	&:hover{
		border: 4px solid $blue;
	}
	>img{
		position: absolute;
		height: 50px;
		bottom: 0;
		left: 10px;
	}
}
.j-item__title{
	color: #404040;
	font-size: 20px;
	font-weight: 700;
	margin-top: 15px;
	line-height: 25px;
}
.j-item__desc{
	color: #404040;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 7px;
}
.j-item-btn-video{
	width: 26px;
	height: 17px;
	background: url(../img/video-ico.png) 0 0 no-repeat;
	display: block;
	float: left;
	margin-right: 28px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		width: 1px;
		height: 21px;
		right: -14px;
		top: -2px;
		background: #E5E5E5;
	}
	&:hover{
		background: url(../img/video-ico.png) 0 -17px no-repeat;
	}
}
.j-item-view{
	display: block;
	position: relative;
	float: left;
	color: #707070;
	font-family: "Arial";
	font-size: 15px;
	font-weight: 400;
	background: url(../img/eye-ico.png) 0 0 no-repeat;
	padding-left: 30px;
	line-height: 17px;
	height: 26px;
	margin-right: 28px;
	&:after{
		content: '';
		position: absolute;
		width: 1px;
		height: 21px;
		right: -14px;
		top: -2px;
		background: #E5E5E5;
	}
}
.j-item-date{
	display: block;
	float: left;
	color: #636363;
	font-size: 15px;
	font-weight: 400;
	padding-right: 14px;
	height: 17px;
	line-height: 17px;
}
.j-item-dollars{
	display: inline-block;
	float: left;
	height: 17px;
	width: 52px;
	background-repeat: no-repeat;
	&.v1{background-image: url("../img/dico-1.png");}
	&.v2{background-image: url("../img/dico-2.png");}
	&.v3{background-image: url("../img/dico-3.png");}
	&.v4{background-image: url("../img/dico-4.png");}
	&.v5{background-image: url("../img/dico-5.png");}
}
.j-item-form{
	header{
		color: #000;
		font-size: 26px;
		font-weight: 700;
	}
	p{
		padding: 0;
		color: #000;
		font-size: 16px;
		margin: 5px 0 0 0;
	}
}
.journal-slide-block{
	color: #404040;
	font-size: 16px;
	line-height: 20px;
	position: relative;
	padding: 30px 100px 0 30px;
	margin-bottom: 30px;
	h3{
		font-weight: bold;
	}
}
.btn-jslide{
	position: absolute;
	top: 37px;
	right: 0;
	width: 62px;
	height: 62px;
	background: url(../img/slide-down.png) 0 0 no-repeat;
	cursor: pointer;
	&.active{
		background: url(../img/slide-down.png) 0 -62px no-repeat;
	}
}

/*---------- item ----------*/
.item-old{
	margin-top: 40px;
}
.item__title-old{
	display: inline;
	font-size: 38px;
	padding: 0;
	margin: 0;
	line-height: 46px;
	color: #404040;
	padding-right: 20px;
}
.item__header-old{
	.feedback{
		display: inline;
		white-space: nowrap;
	}
	.rating{
		display: inline-block;
		position: relative;
		top: -7px;
	}
	.star-rating-inout {
		position: relative;
		height: 18px !important;
		overflow: hidden;
		list-style: none;
		margin: 0;
		top: 3px;
		padding: 0 !important;
		background-position: left top !important;
		.current-rating {
			z-index: 1;
			background-position: left center !important;
		}
		a, .current-rating {
			padding: 0 !important;
			margin: 0 !important;
			position: absolute;
			top: 0;
			left: 0;
			text-indent: -1000em !important;
			height: 18px !important;
			line-height: 18px !important;
			outline: 0;
			overflow: hidden;
			border: 0;
		}
		&, a:hover, a:active, a:focus, .current-rating {
			background: url("../img/stars.png") left -18px repeat-x !important;
		}
		li.star {
			padding: 0 !important;
			margin: 0 !important;
			background: none !important;
			display: inline !important;
			list-style: none;
			span {
				display: none;
			}
		}
	}
	.review-cnt {
		margin: 0 0 0 10px;
		display: inline-block;
		margin-top: 8px;
		position: relative;
		top: -7px;
		a{
			font-size: 15px;
			color: #e66400;
			border-bottom: 1px dotted #e66400;
			font-style: italic;
			text-decoration: none;
			line-height: 15px;
			span{
				border-bottom: 1px dotted #ffffff;
				color: #949494;
			}
		}
	}
}
.votes {
	text-indent: -3000px;
	display: block;
	position: absolute;
}
.item__slider-container{
	width: 360px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	.bx-viewport{
		height: 360px;
		overflow: hidden;
	}
}
.item__slider-wrapper{
	width: 100%;
	position: relative;
	.item__slider{
		max-height: 350px;
	}
	.product-logo {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 150px;
		z-index: 99;
	}
}
.item__slider-pager{
	text-align: center;
	a{
		border: 1px solid #fff;
		display: inline-block;
		width: 70px;
		height: 50px;
		margin-bottom: 5px;
		&.active{
			border: 1px solid #CFCFCF;
		}
		img{
			height: 48px;
		}
	}
}
.left-desc{
	p{
		margin: 0;
		margin-top: 20px;
		padding: 0;
		color: #202020;
		font-size: 14px;
	}
	span{
		color: #828282;
		font-size: 18px;
	}
}
#itemtabs{
	margin-top: 40px;
}
.item-content{
	p{
		font-size: 17px;
		line-height: 26px;
	}
	h1,h2,h3,h4,h5,h6{
		font-weight: bold;
	}
}
.item-characters{
	table{
		width: 100%;
		tr{
			border-top: 1px solid #e4e4e4;
			&:hover{
				background: #f2f2f2;
			}
			td{
				padding: 9px;
				width: 50%;
				color: #000;
				font-size: 16px;
				font-weight: 700;
				line-height: 18px;
				&:last-child{
					color: #555;
					font-size: 15px;
					font-weight: 400;
				}
			}
		}
	}
}
.item-right-side{
	padding-left: 65px;
}
.item__description-old {
	font-size: 15px;
	line-height: 18px;
	color: #000;
	margin-top: 30px;
}
.item__price{
	font-size: 38px;
	color: #e96507;
	margin: 15px 0 15px 0;
}
.buy-list{
	ul{
		margin: 20px 0;
		padding: 0 0 60px;
		list-style: none;
		border-bottom: 2px solid #F5F5F5;
		li{
			display: inline-block;
			width: 100%;
			line-height: 40px;
			color: #444;
			font-family: "Arial";
			font-size: 16px;
			font-weight: 700;
			padding-left: 30px;
			background: url(../img/pay-list-sprite.png) 0 0 no-repeat;
			@media screen and (max-width: 1199px) {
				font-size: 14px;
			}
			&.ico-stock-blue{background-position: 0 11px;}
			&.ico-stock-red{background-position: 0 -29px;}
			&.ico-stock-orange{background-position: 0 -69px;}
			&.ico-delivery{background-position: 0 -106px;}
			&.ico-pay{background-position: 0 -146px;}
			&.ico-garanty{background-position: 0 -189px;}
			&.ico-replace{background-position: 0 -227px;}
		}
	}
}

.item-socials{
	a{
		display: block;
		float: left;
		background: url(../img/socials.png) 0 0 no-repeat;
		width: 34px;
		height: 34px;
		line-height: 34px;
		margin-right: 8px;
		transition: all 0.3s;
		cursor: pointer;
		@media screen and (max-width: 1199px) {
			margin-right: 4px;
		}
		&:hover{
			transform: rotate(20deg);
		}
		&.vk {background-position: -34px 0;}
		&.fb {background-position: -68px 0;}
		&.tw {background-position: 0 0;}
		&.gp {background-position: -102px 0;}
	}
	p{
		margin: 0;
		padding: 0;
		display: block;
		float: left;
		span{
			line-height: 34px;
			display: block;
			float: left;
			height: 34px;
			padding-right: 10px;
		}
	}
}
.add-desc {
	padding-top: 50px;
	font-size: 15px;
	line-height: 18px;
	a{
		text-decoration: underline;
	}
}
.items-related{
	margin-top: 40px;
	header{
		color: #444;
		font-size: 26px;
		padding: 0;
		margin: 0;
	}
}
.items-related-slider{
	position: relative;
	padding: 0 15px;
	margin-bottom: 30px;
	.slide{
		padding: 0 15px;
	}
	.slick-prev,.slick-next{
		width: 23px;
		height: 36px;
		position: absolute;
		text-indent: -9999px;
		border: none;
		background-image: url(../img/arrows.jpg);
		outline: none;
		padding: 0;
		margin: 0;
		top: 50%;
		margin-top: -3px;
		opacity: .6;
		z-index: 999;
		&:hover{
			opacity: 1;
		}
	}
	.slick-prev{
		left: -15px;
	}
	.slick-next{
		right: -15px;
		background-position: -23px 0;
	}
}
// catalog item
.catalog-item{
	&:hover{
		.catalog-item_img{
			border: 1px solid #dfdfdf;
			border-bottom: 0;
		}
	}
}
.catalog-item_img{
	width: 100%;
	display: block;
	max-height: 168px;
	margin: 0 auto;
	height: 150px;
	overflow: hidden;
	border: 1px solid #fff;
	border-bottom: 0;
	img{
		margin: 0 auto;
		display: block;
	}
}
.catalog-item__desc-container{
	display: block;
	text-decoration: none;
	text-align: center;
	&:hover{
		text-decoration: none;
	}
}
.catalog-item__desc{
	color: #808080;
	font-size: 11px;
	padding: 0;
	display: block;
	margin-top: 5px;
	&:hover{
		text-decoration: none;
	}
}
.catalog-item__mark{
	display: block;
	text-transform: none;
	text-decoration: none;
	font-size: 16px;
	padding: 8px 0;
	line-height: 16px;
	color: #424242;
}
.catalog-item__add-compare{
	display: block;
	text-align: center;
	margin: 0;
	color: #424242;
	font-size: 12px;
	text-decoration: none;
	span{
		border-bottom: 1px dotted #424242;
	}
	&:hover{
		text-decoration: none;
		span{
			border-bottom: 1px dotted $blue;
		}
	}
}
.catalog-item__small-last{
	display: block;
	text-align: center;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.catalog-item__cost{
	display: block;
	font-size: 20px;
	color: #e96507;
	line-height: 30px;
	margin-top: 5px;
	&:hover{
		text-decoration: none;
	}
}
.catalog-item__tech{
	display: block;
	font-size: 10px;
	color: #444;
	line-height: 13px;
	&:hover{
		text-decoration: none;
	}
}
.jitem-info {
	color: #000;
	font-size: 16px;
	padding: 60px 0 47px;
	p{
		margin: 0;
		padding-bottom: 14px;
	}
}
.jitem-text {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 15px;
}
.equip-list .hr {
	border-top: 6px solid #E9E9E9;
	margin: 20px 0 15px;
}
.equip-list .equip-list_left {
	header{
		color: #000;
		font-size: 21px;
		font-weight: 700;
	}
	ul{
		padding: 16px 0 10px;
		margin: 0;
		list-style: none;
		li{
			a{
				color: #2079B4;
				font-family: "Arial";
				font-size: 14px;
				line-height: 29px;
				font-weight: 400;
				text-decoration: none;
				border-bottom: 1px solid #B3E0FA;
				&:hover{
					border-bottom: 0;
				}
			}
			position: relative;
			padding-left: 20px;
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 2px;
				left: 0;
				top: 14px;
				background: #000;
			}
		}
	}
}
.equip-list .equip-list_right header {
	color: #000;
	font-size: 18px;
	padding-top: 5px;
	font-style: italic;
}
.equip-list .equip-list_right .cost {
	color: #000;
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
}
.jitem-prev-next .prev a {
		background: url(../img/back-btn.png) 0 0 no-repeat;
		line-height: 27px;
		padding-left: 30px;
}
.jitem-prev-next a {
	display: inline-block;
	color: #3884BA;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}
.jitem-prev-next .next {
	text-align: right;
}
.jitem-prev-next .next a {
	background: url(../img/next-btn.png) 100% 3px no-repeat;
	padding-right: 30px;
}
.jitem-prev-next {
	padding-top: 50px;
	padding-bottom: 50px;
}
.j-item-right-title{
	color: #404040;
	font-size: 27px;
	font-weight: 700;
	padding: 10px 0 20px 5px;
}
.journal-content{
	margin-top: 40px;
}

// print
.header-rek,
.print-kp,
.print-item-head,
.print-item-desc,
.print-item-char{
	display: none;
}

.print-item-services{
	background: #e7f5fc;
	padding: 40px 0 20px;
	header{
		margin-bottom: 30px;
		font-size: 26px;
		line-height: 26px;
	}
	.main-service__title{
		display: table;
		color: #434343;
		font-size: 26px;
		font-weight: 700;
		line-height: 19px;
		padding-left: 50px;
		line-height: 20px;
		height: 40px;
		background-image: url(../img/sprite-services.png);
		background-repeat: no-repeat;
		margin-bottom: 20px;
		background-size: 40px;
		img{
			display: none;
		}
		span{
			vertical-align: middle;
			display: table-cell;
			font-size: 15px;
		}
		&:hover{
			text-decoration: none;
			color: $blue;
		}
	}
	.main-service__desc{
		margin-bottom: 45px;
	}
	.main-service__t1{
		background-position: 0 0;
		&:hover{
			background-position: 0 -280px;
		}
	}
	.main-service__t2{
		background-position: 0 -40px;
		&:hover{
			background-position: 0 -320px;
		}
	}
	.main-service__t3{
		background-position: 0 -80px;
		&:hover{
			background-position: 0 -360px;
		}
	}
	.main-service__t4{
		background-position: 0 -120px;
		&:hover{
			background-position: 0 -400px;
		}
	}
	.main-service__t5{
		background-position: 0 -160px;
		&:hover{
			background-position: 0 -440px;
		}
	}
	.main-service__t6{
		background-position: 0 -200px;
		&:hover{
			background-position: 0 -480px;
		}
	}
	.main-service__t7{
		background-position: 0 -240px;
		&:hover{
			background-position: 0 -520px;
		}
	}
}

// cart success
.cart-success{
	.title{
		font-size: 60px;
		margin-bottom: 0;
		padding-left: 30px;
		font-weight: bold;
	}
	.p-title-cart{
		font-size: 28px;
		font-weight: bold;
		margin-top: 0;
		padding-left: 30px;
	}
	.cart-success-block{
		background: #ededed;
		padding: 30px 40px;
		margin-top: 10px;
		header{
			font-size: 34px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		p{
			margin: 0;
			font-size: 23px;
			font-weight: bold;
		}
	}
	.senk{
		padding-left: 30px;
		font-size: 20px;
		font-weight: normal;
		margin-top: 20px;
	}
}

// tables in text content
.text-content {
	table {
		tr {
			td {
				border: 1px solid gray;
				padding: 5px 10px;

			}	
		}
	}
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

// catalog
.catalog-container{
	margin-bottom: 30px;
	margin-top: 30px;
	.btn-compare{
		padding: 10px;
	}
	@media screen and (max-width: 1199px){
		.btn-compare{
			font-size: 14px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.catalog-sidebar{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			top: 0;
			right: 15px;
			background: #dadada;
		}
		.catalog-sidebar-block{
			position: relative;
			margin-bottom: 30px;
		}
		.catalog-sidebar-title{
			color: #000;
			font-size: 16px;
			font-weight: 700;
			margin-top: 0;
		}
		.all-variants{
			span{
				color: #000;
				font-family: Arial;
				font-size: 16px;
				font-weight: 400;
				line-height: 32px;
				border-bottom: 1px dotted #000;
				cursor: pointer;
			}
			&.show{
				span{
					color: $hover-blue;
					border-color: $hover-blue;
				}
			}
		}
		.all-variants-modal{
			position: absolute;
			display: none;
			top: 12px;
			left: 100%;
			background-color: #fff;
			border-radius: 2px;
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
			padding: 15px 30px 15px 15px;
			z-index: 1;
			&.show{
				display: block;
			}
		}
	}
	.catalog-content-header{
		.check-variable{
			float: left;
			cursor: pointer;
			background: #dadada;
			border-radius: 2px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 5px 30px 5px 10px;
			position: relative;
			transition: all .3s;
			&:before{
				content: '';
				position: absolute;
				width: 20px;
				height: 1px;
				background: #000;
				top: 50%;
				margin-top: -1px;
				right: 5px;
				transform: rotate(-45deg);
				transition: all .3s;
			}
			&:after{
				content: '';
				position: absolute;
				width: 20px;
				height: 1px;
				background: #000;
				top: 50%;
				margin-top: -1px;
				right: 5px;
				transform: rotate(45deg);
				transition: all .3s;
			}
			&:hover{
				background: #c36565;
				color: #fff;
				&:before,
				&:after{
					background: #fff;
				}
			}
		}
		.sort-pimary{
			a{
				margin-right: 10px;
				font-size: 16px;
				border-bottom: 1px solid #d1efff;
				text-decoration: none;
			}
		}
		.sort{
			margin-top: 20px;
			span{
				line-height: 24px;
				display: block;
				float: left;
				padding-right: 10px;
			}
			.sort-select{
				display: block;
				float: left;
				position: relative;
				text-decoration: none;
				color: #4c4c4b;
				font-family: Arial;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				padding: 0 30px 0 10px;
				border-radius: 3px;
				margin-right: 10px;
				&.active, &:hover{
					background: $blue;
					color: #fff;
					&:after{
						border-top: 6px solid #fff;
					}
				}
				&:after{
					content: '';
					position: absolute;
					border-top: 6px solid #000;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					right: 10px;
					top: 50%;
					margin-top: -2px;
				}
				&[data-dir="desc"],
				&.back{
					&:after{
						border-top: none;
						border-bottom: 6px solid #000;
					}
					&.active, &:hover{
						&:after{
							border-bottom: 6px solid #fff;
						}
					}
				}
			}
		}
	}
}
.catalog-items{
	@media screen and (max-width: 1199px){
		.col-xs-3{
			width: 33.333333%;
		}
	}
	.item{
		margin: 30px 0;
	}
	.pager{
		margin-top: 30px;
		@media screen and (max-width: 1199px){
			.col-xs-offset-3{
				margin-left: 0;
			}
			.col-xs-3{
				width: 50%;
			}
		}
		.btn{
			margin-bottom: 60px;
		}
	}
}


// comparison page
.doubleScroll-scroll-wrapper{
	position: absolute;
	top: -20px;
}
.comparison-page{
	margin-bottom: 40px;
	margin-top: 40px;
	.comparison-right{
		padding-left: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		.double-scroll{
			overflow-x: auto;
			padding-bottom: 10px;
		}
		tr,td{
			border-bottom: 1px solid #e4e4e4;
			border-right: 1px solid #e4e4e4;
			border-collapse: collapse;
		}
		tr{
			td:last-child{
				border-right: 1px solid #fff;
			}
		}
		table{
			td{
				min-width: 250px;
				padding: 10px;
			}
			.comparison-head {
				vertical-align: top;
			}
		}
	}
	.comparison-left{
		padding-right: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		.btn{
			white-space: normal;
		}
		@media screen and (max-width: 1199px){
			.btn{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		tr,td{
			border-bottom: 1px solid #e4e4e4;
			border-collapse: collapse;
			border-right: 1px solid #e4e4e4;
		}
		table{
			width: 100%;
			td{
				padding: 10px;
			}
		}
	}
}

// manufactures
.manufactures{
	margin-bottom: 40px;
	.manufactures-menu{
		background-color: #fff;
		box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 30px;
		.alphabet{
			a{
				font-family: Arial;
				font-size: 16px;
				font-weight: 700;
				line-height: 38px;
				color: #000;
				padding: 3px;
				text-decoration: none;
				border-radius: 2px;
				&:hover,
				&.active{
					background: $blue;
					color: #fff;
				}
			}
		}
	}
	.manufactures-list {
		.pagination {
			display: none;
		}
	}
	.manufacture-item{
		text-align: center;
		margin: 30px 0;
		text-decoration: none;
		.manufacture-logo {
			height: 120px;
			vertical-align: middle;
			img {
				max-height: 100%;
			}
		}
		.title{
			color: #030303;
			font-family: Arial;
			font-size: 16px;
			font-weight: 700;
		}
	}
}

// search results
.mse2-row {
	clear: both;
	//overflow: hidden;
	.image {
		height: auto;
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 20px;
		float: left;
		img {
			vertical-align: top;
		}
	}
	.search-link {
		color: #202020;
		text-decoration: none;
		margin-right: 10px;
		&:hover {
			color: #0096E6;
			border-bottom: 1px solid #0096E6;
			text-decoration: none;
		}
	}
	.feedback {
		display: inline;
		.rating {
			display: inline-block;
			ul {
				display: inline-block;
			}
		}
		.review-cnt {
			display: inline-block;
			font-style: italic;
			padding-left: 10px;
			a {
				color: #e96507;
				text-decoration: none;
				border-bottom: 1px solid #e96507;
				span {
					border-bottom: 1px solid #ffffff;
					color: #949494;
				}
			}
		}
	}
	.ms2_form {
		float: right;
		.price {
			padding: 5px 0;
			text-align: center;
			color: #e96507;
			font-weight: bold;
		}
		.btn-product-buy {
			height: 40px;
			font-size: 20px;
			line-height: 20px;
			text-transform: none;
			padding: 0 20px;
			border: 0;
			background: $blue;
			color: white;
		}
	}
	.article {
		color: #828282;
		font-size: 12px;
	}
	.intro {
		color: #202020;
		font-size: 15px;
	}
}

.ui-autocomplete {
    max-width: 733px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.ui-menu {
	.ui-menu-item {
		list-style-image: none;
		a {
	    	padding: 0 !important;
		}
	}
}
.search-results {
    font-size: 0px;
    position: relative;
    padding: 0 40px !important;
    box-shadow: none;
    .search-results__item {
        font-size: initial;
        .btn {
            margin-top: 24px;
        }
        img {
            margin: 0;
            padding: 10px 0;
        }
    }
}
.pagination {
  ul {
    text-align: center;
    li {
      display: inline-block;
      background: $gray;
      border-radius: 50%;
      margin: 0 3px;
      color: #fff;
      &.prev, &.next,
      &.first, &.last {
        background: none;
        a {
          color: $gray;
          width: auto !important;
          text-decoration: none;
          &:hover{
            color: $blue;
          }
        }
        &:hover{
          background: none;
        }
      }
      &.prev, &.next {
		width: auto !important;
	  }
      &.disabled {
          span {
              width: 35px;
              height: 35px;
              line-height: 35px;
              display: inline-block;
          }
      }
      &:hover,
      &.current {
        background: $blue;
      }
      &.current {     
        padding: initia l;
      }
      a {
        display: block;
        color: #fff;
        text-transform: uppercase;
        line-height: 35px;
        width: 35px !important;
        padding: 0 13px !important;
        text-decoration: none;
      }
    }
  }
} 

.kompleks-form {
  h5 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
  }
  .checkbox {
    p {
      margin: 5px 0;
      font-style: italic;
      small {
        color: $silver;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    height: 32px;
    outline:0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(#555,.3);
    line-height: 32px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
    &:focus{
      background: #fafafa;
      border-color: #999999;
      box-shadow: none;
      box-shadow: 0 0 3px rgba(#555,.8);
    }
  }
  textarea {
    height: auto;
  }
}

.category-btns {
  text-align: center;
  a {
	  background: #424242;
	  padding: 6px 10px;
	  color: #fff;
	  text-transform: uppercase;
	  font-size: 13px;
	  margin: 0 3px 10px 3px;
	  padding: 0 10px;
	  line-height: 30px;
	  height: 30px;
	  display: inline-block;
	  span {
	  	position: relative;
	    right: 0;
	    top: -5px;
	    color: #e96507;
	    font-size: 11px;
	  }
	  &:hover,
	  &.current,
      &.active {
  		background: #0096e6;
  		span {
  			color: #fff;
  		}
      }
	}
}

.comparison {
	.comparison-add {
		display: inline;
	}
	.comparison-remove {
		display: none;
	}
	&.added {
		.comparison-add {
			display: none;
		}
		.comparison-remove {
			display: inline;
		}	
	}
}

// obzor tovara
.expert{
	margin: 20px 0;
	img{
		display: block;
		margin: 0 auto 15px;
		width: 135px;
		height: 135px;
		border-radius: 50px;
	}
	.name{
		color: #000;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 15px;
	}
	.status{
		color: #777;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		margin-bottom: 20px;
	}
	.desc{
		border-top: 6px solid #e9e9e9;
		border-bottom: 6px solid #e9e9e9;
		padding: 20px 0;
		font-weight: 400;
		color: #000;
		.cit{
			font-size: 16px;
			color: #25446e;
			font-style: italic;
			line-height: 24px;
		}
	}
}
.expert-banner{
	margin: 20px 0;
}

// about page
.about-advantages{
	margin: 55px auto;
	img{
		display: block;
		margin: 0 auto 15px;
	}
	.title{
		color: #000;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
	}
}
.about-text{
	font-size: 16px;
	margin-bottom: 50px;
	h2{
		margin-top: 0;
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 20px;
	}
}
.our-command-wr{
	background: #e7f5fc;
	margin-bottom: 50px;
	padding: 65px 0;
	.slick-about{
		padding: 0 40px;
		.slick-prev,
		.slick-next{
			margin: 0;
			padding: 0;
			outline: none;
			border: none;
			background: none;
			width: 36px;
			height: 35px;
			position: absolute;
			top: 50%;
			margin-top: -18px;
			z-index: 1;
			border-radius: 50%;
			border: 1px solid #476888;
			transition: all .3s;
			&:after{
				content: '';
				position: absolute;
				width: 11px;
				height: 11px;
				border-top: 1px solid #476888;
				border-left: 1px solid #476888;
				top: 11px;
				transition: all .3s;
			}
			&:hover{
				border-color: #000;
				&:after{
					border-color: #000;
				}
			}
			&.slick-prev{
				left: 0px;
				&:after{
					left: 13px;
					transform: rotate(-45deg);
				}
			}
			&.slick-next{
				right: 0px;
				&:after{
					right: 13px;
					transform: rotate(135deg);
				}
			}
		}
		.slide{
			min-height: 390px;
			.img-block{
				img{
					display: block;
					margin: 0 auto 15px;
					width: 135px;
					height: 135px;
					transition: all .1s;
				}
			}
			.name{
				color: #000;
				font-size: 16px;
				font-weight: 700;
				margin-bottom: 5px;
				text-align: center;
				transition: all .3s;
			}
			.status{
				color: #000;
				font-size: 14px;
				font-weight: 700;
				text-align: center;
				margin-bottom: 5px;
				transition: all .3s;
			}
			.desc{
				display: none;
				transition: all .3s;
				color: #000;
				font-size: 16px;
				line-height: 22px;
				font-weight: 400;
				text-align: center;
				margin: 0 -100px;
			}
		}
		.slide.slick-current+.slide+.slide{
			.img-block{
				img{
					width: 180px;
					height: 180px;
					margin: 0 auto 25px;
				}
			}
			.name{
				font-size: 24px;
				margin: 0 -20px;
			}
			.status{
				font-size: 16px;
			}
			.desc{
				display: block;
			}
		}
	}
}
.other-command{
	margin-bottom: 50px;
	.title{
		color: #333;
		font-size: 26px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}
	.other-command-item{
		margin: 20px 0;
		min-height: 170px;
		img{
			display: block;
			text-align: center;
			border-radius: 50%;
		}
		.name{
			color: #000;
			font-size: 20px;
			font-weight: 700;
		}
		.spec{
			color: #333;
			font-size: 16px;
			margin-bottom: 10px;
		}
		.spec2{
			font-size: 16px;
			font-weight: 700;
			color: #333;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				display: block;
				position: relative;
				padding-left: 20px;
				&:before{
					content: '';
					position: absolute;
					width: 10px;
					height: 2px;
					background: #000;
					left: 0;
					top: 50%;
					margin-top: -1px;
				}
			}
		}
	}
}
.about-clients{
	margin-bottom: 50px;
	.title{
		color: #333;
		font-size: 26px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}
	a{
		display: block;
		img{
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
			-webkit-backface-visibility: hidden; /* Fix for transition flickering */
			transition: all 1s;
			margin-bottom: 5px;
			margin-top: 10px;
			width: 100%;
		}
		.name{
			display: block;
			width: 100%;
			color: #333;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 10px;
			height: 44px;
			overflow: hidden;
		}
		&:hover{
			text-decoration: none;
			img{
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
				-webkit-filter: grayscale(0%);
			}
		}
	}
}
.about-add-description{
	font-size: 16px;
	margin-bottom: 50px;
	p{
		margin-bottom: 20px;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			display: block;
			position: relative;
			padding-left: 20px;
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 2px;
				background: #000;
				left: 0;
				top: 50%;
				margin-top: -1px;
			}
		}
	}
}
.about-contacts{
	width: 640px;
	border: 3px solid #0097ea;
	position: relative;
	margin: 120px auto 150px;
	padding: 30px;
	&:before{
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -190px;
		margin-left: -209px;
		width: 418px;
		height: 360px;
		background: url(../img/about-map.png) 0 0 no-repeat;
		z-index: 2;
	}
	.title{
		text-align: center;
		color: #000;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		margin-top: -53px;
		span{
			display: inline-block;
			background: #fff;
			padding: 0 30px;
		}
	}
	.phones{
		p{
			margin: 0;
			font-size: 16px;
			line-height: 24px;
			color: #808080;
			display: block;
			span{
				display: inline-block;
				min-width: 80px;
			}
		}
	}
	.contacts{
		color: #333;
		font-size: 16px;
		line-height: 24px;
		padding-left: 50px;
	}
}