/*! jQuery UI - v1.11.4 - 2015-09-08
* http://jqueryui.com
* Includes: core.css, tabs.css
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 0;
}
.ui-tabs .ui-tabs-nav {
	margin: 15px 0 25px;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	text-decoration: none;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0;
	background: none;
}
#journaltabs{
	.jtabs-container{
		    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    padding: 30px 30px 5px;
	}
	.ui-state-default{
		margin: 0 15px 25px 0;
		a{
			padding-right: 50px;
		}
	}
}
.ui-state-default{
	margin-right: 10px;
	display: inline-block;
	span{
    position: absolute;
    display: block;
    right: 14px;
    top: 8px;
    background: #7D7D7D;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 700;
	}
	a{
		display: block;
		line-height: 40px;
		padding: 0 20px;
		background: #fff;
		border: 1px solid #DFDFDF;
		border-radius: 6px;
		color: #2e6e9e;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
		transition: all 0.3s;
	}
	&:hover,&.ui-state-active{
		a{
			background: $blue;
			border-color: $blue;
			color: #fff;
			cursor: pointer;
			span{
				background: #2079B4;
			}
		}
	}
}