/*scroll to top*/
.to-top{
	display:none;
	position:fixed;
	cursor:pointer;
	text-decoration:none;
	z-index:99999;
	transition:all 0.3s;
	right:200px;
	bottom:100px;
	width:50px;
	height:50px;
	background: url(../img/sprite-icons.png) 0 -200px #424242;
	border-radius: 50%;
	@media screen and (max-width: 1700px) {
		right: 100px;
	}
	@media screen and (max-width: 1500px) {
		right: 50px;
	}
}
.to-top:hover{
	opacity: .5;
}