.breadcrumbs{
	ul{
		list-style: none;
		padding: 0;
		margin: 0 0 10px;
		li{
			display: inline-block;
			a{
				text-decoration: underline;
			}
			&:last-child{
				a{
					text-decoration: none;
					color: $light-gray;
				}
			}
		}
		span{
			display: inline-block;
			padding: 0 3px 0 7px;
			color: $light-gray;
			font-size: 16px;
		}
	}
}