.btn-ttu{
	text-transform: uppercase;
}
/*---------- search button ----------*/
.search-btn{
	border: none;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 50px;
	background: $blue;
	color: #fff;
	transition: background .3s;
	font-size: 21px;
	padding: 0 20px;
	&:focus,&:active,&:hover{
		outline: none;
		background: $hover-blue;
	}
}

/*---------- default button ----------*/
.btn-default{
	background: $blue;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	padding: 15px 25px;
	transition: background .3s;
	&.big{
		font-size: 30px;
		padding: 10px 35px;
	}
	&.small{
		width: 100%;
		text-transform: uppercase;
		font-size: 13px;
		padding: 7px 15px 5px;
	}
	&.btn-default-upper{
		text-transform: uppercase;
	}
	&.page-next{
		background: #eff0f0;
		color: #000;
		display: block;
		font-weight: bold;
		padding: 10px;
	}
	&:hover,&:focus,&:active{
		background: $hover-blue;
		color: #fff;
	}
}

/*---------- back page button ----------*/
.back-to-cat-btn {
	display: block;
	color: $blue;
	font-size: 18px;
	font-weight: 400;
	padding: 0 0 0 20px;
	transition: all 0.3s;
	margin-top: 5px;
	text-decoration: none;
	position: relative;
	float: right;
	span{
		border-bottom: 1px dotted $blue;
	}
	&:after,&:before{
		content: '';
		position: absolute;
		width: 3px;
		height: 17px;
		background: $blue;
		left: 0;
		transition: all .3s;
	}
	&:after{
		top: -2px;
		transform: rotate(45deg);
	}
	&:before{
		top: 8px;
		transform: rotate(-45deg);
	}
	&:hover{
		text-decoration: none;
		cursor: pointer;
		&:after,&:before{
			left: -3px;
		}
	}
}

/*---------- plus minus buttons ----------*/
.plus,.minus{
	width: 30px;
	height: 30px;
	display: block;
	background: #f2f2f2;
	float: left;
	position: relative;
	transition: all .3s;
	&:after,&:before{
		content: '';
		background: #7f7f7f;
		position: absolute;
		transition: all .3s;
	}
	&:after{
		width: 16px;
		height: 2px;
		top: 14px;
		left: 7px;
	}
	&:hover{
		background: $blue;
		&:before,&:after{
			background: #fff;
		}
	}
}
.plus{
	&:before{
		width: 2px;
		height: 16px;
		left: 14px;
		top: 7px;
	}
}

/*---------- delete button ----------*/
.del{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	outline: none;
	border: none;
	position: relative;
	background: none;
	transform: rotate(45deg);
	&:before,&:after{
		content: '';
		position: absolute;
		background: #c6c6c6;
		transition: all .3s;
	}
	&:before{
		width: 42px;
		height: 1px;
		left: -6px;
		top: 15px;
	}
	&:after{
		height: 42px;
		width: 1px;
		top: -6px;
		left: 15px;
	}
	&:hover{
		&:before,&:after{
			background: $blue;
		}
	}
}

/*---------- add compare button ----------*/
.btn-add-compare {
	display: block;
	float: right;
	position: relative;
	font-size: 14px;
	color: #444;
	padding-left: 18px;
	text-decoration: none;
	transition: all 0.3s;
	&:before,&:after{
		content: '';
		position: absolute;
		background: #B1B1B1;
		transition: all 0.3s;
	}
	&:before{
		width: 12px;
		height: 2px;
		left: 0;
		top: 8px;
	}
	&:after{
		width: 2px;
		height: 12px;
		left: 5px;
		top: 3px;
	}
	&:hover{
		text-decoration: none;
		color: $blue;
		&:before,&:after{
			background: $blue;
		}
	}
}

/*---------- print button ----------*/
.btn-print{
	font-size: 16px;
	font-weight: bold;
	color: #444;
	background: url(../img/print.png) 17px 11px no-repeat #eff0f0;
	text-decoration: none;
	padding: 10px 20px 10px 50px;
	transition: all .3s;
	&:hover,&:focus,&:active{
		text-decoration: none;
		color: #444;
		background: url(../img/print.png) 17px 11px no-repeat darken(#eff0f0,10%);
	}
}