/*---------- main title ----------*/
.main-title{
	color: #242424;
	font-family: Arial;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 60px;
}

/*---------- main title 2 ----------*/
.main-title2{
	color: #242424;
	font-family: Arial;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	text-align: center;
	margin-bottom: 25px;
}

/*---------- page title ----------*/
.page-title{
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 32px;
}

/*---------- journal title ----------*/
.title-journal{
	color: #404040;
	font-size: 38px;
	line-height: 50px;
	font-weight: 700;
	margin-bottom: 10px;
}